.navbar {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all ease-in .3s;
    z-index: 1;
}

.bg-color {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)) !important;
}

.navbar_container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar_container h3 {
    margin-bottom: 0;
}

.AiOutlineMenu {
    display: none;
    font-size: 22px;
    cursor: pointer;
    position: inherit;
    z-index: 999;
}

.navbar_container ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
}

.navbar_container ul li {
    cursor: pointer;
    position: relative;
}

.navbar_container ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar_container ul li span {
    font-size: 13px;
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition: var(--transition-015s);
}

.navbar_container ul li:hover .underline {
    width: 100%;
    background-color: #fff;
}


@media (max-width:678px) {
    .navbar_container ul {
        display: none;
    }

    .AiOutlineMenu {
        display: block;
    }

}