.sidebar_container_block {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    /* background-color: transparent; */
    transition: var(--transition-015s);
    width: 250px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    -webkit-box-shadow: -5px 3px 9px -6px rgba(0, 0, 0, 0.35);
    box-shadow: -5px 3px 9px -6px rgba(0, 0, 0, 0.35);
    /* z-index: 999999 !important; */
}

.sidebar_container_none {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    background-color: silver;
    transition: var(--transition-015s);
    width: 0;
}

.sidebar_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    color: #fff;
    padding-left: 0;
    margin-top: 50px;
}

.sidebar_list a {
    text-decoration: none;
    color: #fff;
}

.sidebar_list li {
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: var(--transition-015s);
}

.sidebar_list li:hover {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
    border-left: 3px solid #fff;
    color: #fff;
}

@media (max-width: 378px) {
    .sidebar_container_block {
        width: 100%;
    }
}